<p-button (onClick)="goTo('home')" icon="pi pi-home">
</p-button>

<p-button (onClick)="goTo('panier')">
  <i class="pi pi-shopping-cart"></i>
  <sup *ngIf="numberOfItem != 0">{{numberOfItem}}</sup>
</p-button>


@if (this.isConnected) {
  @if (user$ | async; as user) {
    <p-button [link]="true" (onClick)="goTo('profile')" [label]="user.prenom + ' ' + user.nom"></p-button>
  }
  <p-button [link]="true" label="Se déconnecter" (onClick)="logout()"></p-button>
} @else {
  <p-button [link]="true" label="Se connecter" (onClick)="goTo('login', true)"></p-button>
}